@import "tailwindcss";

@layer base {
  body {
    @apply antialiased;
  }
}

.font-display {
  font-family: var(--font-display), sans-serif;
}

.font-sans {
  font-family: var(--font-sans), sans-serif;
}
